<div class="alfa" style="width: 100%;">
	<h1>HiAlfa Component</h1>
	<p>Number is {{dataService.number}}, Quantity is: {{dataService.quantity}}</p>
	<app-upper></app-upper>
	<app-bottom></app-bottom>
</div>
