
<div class="bottom-component">
	<h2>Bottom-component</h2>
	<p>Number is {{dataService.number}}, Quantity is: {{dataService.quantity}}</p>
	<div class="bottom-component-list" >
		<app-bottom-item *ngFor='let item of counter()'></app-bottom-item>
	</div>
</div>