.bottom-component {
	background-color: steelblue;
	color: #fff;
	padding: 20px;
	margin: 0 auto 20px auto;
	max-width: 90%;
}
.bottom-component-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;

	app-bottom-item {
		display: block;
		align-self: center;
		justify-self: center;
		
		background-color: tomato;
		&:nth-child(2n+1) {
			background-color: yellowgreen;
		}
	}
}