<div class="upper-component">
	<h2>Upper-component</h2>
	<form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<label>
			Quantity:
			<input type="number" name="quantity" [ngModel]="quantity" required/>
		</label>
		<label>
			Number:
			<input type="number" name="number" [ngModel]="number" required/>
		</label>
		<button type="submit" [disabled]="!form.valid">Submit</button>
	</form>
</div>