.upper-component {
	background-color: rebeccapurple;
	color: #fff;
	margin: 0 auto 20px auto;
	max-width: 200px;
	padding: 20px;
	text-align: center;
	label {
		margin-bottom: 10px;
		display: inline-block;
		input {
			width: 100%;
			box-sizing: border-box;
		}
	}
	button {
		width: 100%;
		margin: 0 auto;
	}
}